$primary-font: 'Architects Daughter', cursive;

$pastel-purple: #AAADC4;
$easter-blue: #407899;
$aqua-blue: #C7EDE6;

@mixin displayFlex($flex-direction, $align-items, $justify-content) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
   
  }

  @mixin setDimensions($height, $width) {
    height: $height;
    width: $width;
  }