@import 'variables';
@import 'header';
@import 'login';
@import 'buttons';
@import 'trip-form';
@import 'destinations';
@import 'sidebar';

.hidden {
  display: none!important;
}

* {
  font-family: $primary-font;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 15% 33% 52%;
  grid-template-areas:
  "header header"
  "aside form"
  "aside main";
  @include setDimensions(100vh, auto);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // display: block;
}

