/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

@mixin displayFlex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
 
}

* {
  // border: 1px solid red;
  font-family: 'Architects Daughter', cursive;;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// html {
//   height: 100%;
// }

body {
  // background: $primary-background;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 15% 33% 52%;
  grid-template-areas:
  "header header"
  "aside form"
  "aside main";
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// HEADER
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #AAADC4;
  // background-color: #DE6449;
  border-bottom: 3px solid black;
  
}

.title{
  margin-right: 5%
}

.quote {
  margin: 0;
  // margin-left: 10%;
  white-space: nowrap;
}

.img-quote {
  margin-left: 5%;
}
// SIDEBAR
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // overflow-y:scroll;
  // grid-row: 2 / 5;
  background-color: #407899;
  border-bottom: 3px solid black;
  border-right: 1px solid black;
}

.trips-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items:center;
  background-color: #FFFFF2;
  overflow:auto;
  border: 3px solid black;
}

.trips {
  border-bottom: 3px solid black;
  margin-top: 5px;
}

.trip-name {
  margin: 2px;
}

.trips-card {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid black;
  background-color: #C7EDE6;
  // height: 90%;
}

.trips-card p  {
  margin-left: 10px;
  margin-top: 8%;
  margin-bottom: 10%;
}

.no-trips-card  {
  text-align: center;
  // height: 100%;
}

.trip-img {
  // max-height: 100%;
  // max-width: 25%;
  height: 100%;
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 2; 
  border: 2px solid black;
}

// TRIP FORM
form {
  grid-area: form;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-row: 2 / 3;
  background-color: #FFFFF2;
  border-bottom: 3px solid black;
}

.trip-request {
  margin: 0;
  margin-bottom: 2px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-label {
  padding-top: 6px;
}

.input-btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-message {
  margin: 0;
}

.err-msg {
  color: red;
}

// ALL DESTINATIONS
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  // grid-row: 3 / 4;
  // background-color: #AAADC4;
  background-color: #407899;
}

.destination-header {
  margin-bottom: 2px;
}

.destinations-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px;
  background-color: #8D909B;
  background-color: #8D909B;
  overflow-y: auto;
  border-top: 3px solid black;
}

.destinations-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: #DE6449;
  border: solid 2px black;
  background-color: #C7EDE6;
}

.destination-img {
  height: 240px;
  width: 240px;
  
  border: 3px solid black;
}