/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

@mixin displayFlex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
 
}

* {
  // border: 1px solid red;
  font-family: 'Roboto', sans-serif;;
}

.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  // background: $primary-background;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header"
  "aside form"
  "aside main";
  height: 100vh;
  width: auto;
  margin: 0;
  padding: 0;
}

// HEADER
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #DE6449;
  border-bottom: 3px solid black;
  
}

// SIDEBAR
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y:scroll;
  grid-row: 2 / 5;
  background-color: #407899;
  border-bottom: 3px solid black;
  border-right: 1px solid black;
}

.trips-box {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  // align-items:center;
  background-color: #FFFFF2;
  overflow-y:scroll;
}

.trips {
  border-bottom: 3px solid black;
}

.trips-card {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid black;
}

.no-trips-card  {
  text-align: center;
}

.trip-img {
  // max-height: 100%;
  // max-width: 25%;
  height: 100%;
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 2; 
}
// TRIP FORM
form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-row: 2 / 3;
  background-color: #FFFFF2;
  border-bottom: 3px solid black;
}

// ALL DESTINATIONS
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  // grid-row: 3 / 4;
  background-color: #407899;
}

.destination-header {
  border-bottom: 3px solid black;
}

.destinations-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #FFFFF2;
}

.destinations-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #DE6449;
  
  
}

.destination-img {
  max-height: 100%;
  max-width: 100%;
}